@import url("../../shared/cores.css");
@import url("../../shared/footer.css");
@import url("../../shared/header.css");
@import url("../../shared/nav.css");
@import url("../../shared/page.css");
@import url("../../shared/responsivo.css");
@import url("../../shared/utils.css");



/* Para remover estilos padrão de links e listas */
a {
    text-decoration: none; 
    color: #666;
}

ul {
    list-style: none; 
    margin: 0;
    padding: 0;
}



